.mute_button_muted{
	/*Basic Button Styles*/
	display:block;
	height:50px;
	width:50px;
	border-radius:50%;
	background: cyan;
	
	background-image: url(http://uxrepo.com/static/icon-sets/font-awesome/png32/24/000000/mute-24-000000.png);
	background-repeat: no-repeat; 
	background-position: 14px 10px;
	/*Button Position*/
	top: 130px;
	left: 20px;
	position: absolute;
}
.mute_button_unmuted{
	/*Basic Button Styles*/
	display:block;
	height:50px;
	width:50px;
	border-radius:50%;
	background: cyan;
	
	background-image: url(http://uxrepo.com/static/icon-sets/foundation/png32/24/000000/fi-microphone-24-000000.png);
	background-repeat: no-repeat; 
	background-position: 15px 10px;
	/*Button Position*/
	top: 130px;
	left: 20px;
	position: absolute;
}

/*The non active video feed*/
.passive{
	position: relative;
	padding:4px;
	float: left;
	top: 650px;
	left: 10px;
}

/*currently viewed small feed*/
.active{
	position: relative;
	float: left;
	top: 650px;
	left: 10px;
	box-shadow: 0 0 15px rgb(0, 191, 295);	
}

/*A bigger picture*/
.full{
	position: absolute;
	/*box-shadow: 0 0 15px rgb(0, 191, 295);*/	
	z-index: -1;
}

/*styling for the login div*/
#loginBody{
	background-image: url(http://d1pfint8izqszg.cloudfront.net/blog/theeye.jpg);
	background-repeat: no-repeat;
	background-size: 1275px;
	background-position: 50%;
	position:absolute;
	height:100%;
	width: 100%;
}

/*Styling for the login form*/
#loginForm{
	font-family: fantasy;
	margin:auto;
	width: 17%;
	position: relative;;
	top: 40%;
	border: 0px;
	left:4%;
}
