.mute_button_muted{
	/*Basic Button Styles*/
	display:block;
	height:50px;
	width:50px;
	border-radius:50%;
	background: cyan;
	
	background-image: url(http://uxrepo.com/static/icon-sets/font-awesome/png32/24/000000/mute-24-000000.png);
	background-repeat: no-repeat; 
	background-position: 14px 10px;
	/*Button Position*/
	top: 150px;
	left: 20px;
	position: absolute;
}
.mute_button_unmuted{
	/*Basic Button Styles*/
	display:block;
	height:50px;
	width:50px;
	border-radius:50%;
	background: cyan;
	
	background-image: url(http://uxrepo.com/static/icon-sets/foundation/png32/24/000000/fi-microphone-24-000000.png);
	background-repeat: no-repeat; 
	background-position: 15px 10px;
	/*Button Position*/
	top: 150px;
	left: 20px;
	position: absolute;
}

/*The non active video feed*/
.passive{
	position: relative;
	float: left;
	top: 650px;
	left: 10px;
}

/*currently viewed small feed*/
.active{
	position: relative;
	float: left;
	top: 650px;
	left: 10px;
	box-shadow: 0 0 15px rgb(0, 191, 295);	
}

/*A bigger picture*/
.full{
	position: absolute;
	/*box-shadow: 0 0 15px rgb(0, 191, 295);*/	
	z-index: -1;
}

/*Styling for the login screen*/
form{
	font-family: fantasy;
	margin:auto;
}

body{
		/* Alternate login screen
		background-image: url(http://d1pfint8izqszg.cloudfront.net/blog/theeye.jpg);
		background-repeat: no-repeat;
		background-size: 1350px;
		background-position: 130px 0px;
		*/
		background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Cannabis_leaf.svg/2000px-Cannabis_leaf.svg.png);
		background-size: 7px;
		background-color: darkgreen;
		display:flex;
}

html, body{
		height:100%;
		width:100%;
		margin:0;
}
